body {
    background-image: url(image/background1.jpg);
    background-size: 100%;
    margin: 0px;
}

.table {
    width: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.2);
}

header td:first-child {
    width: 50%;
    padding-left: 15%;
}

header td:nth-child(2) {
    text-align: right;
    padding-right: 5%;
}

.header {
    text-align: center;
    color: black;
    font-size: 10vw;
    font-style: italic;
    font-weight: 900;
}

.header img {
    vertical-align: -2.5vw;
    height: 12vw;
}

header select {
    border: 0px;
    font-weight: bold;
    font-size: 1vw;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0);
}

header option {
    font-weight: bold;
    font-size: 1vw;
    font-style: italic;
    background-color: #c1d5e0;
}

div {
    color: black;
    font-weight: bold;
    font-size: 1.3vw;
}

.services {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
    font-weight: bold;
    font-size: 1.7vw;
    text-align: center;
    color: black;
    float: left;
    width: 23vw;
    height: 11vw;
    margin: 0.5vw;
    
}

.img1 {
    vertical-align: middle;
    width: 2vw;
    margin-right: 3px;
}

.img {
    vertical-align: middle;
    width: 2vw;
    margin-left: 15px;
    margin-right: 5px;
}

h2 {
    text-align: center;
    font-size: 2vw;
    color: black;
}

h3 {
    margin: 1vw;
    opacity: 1;
}

hr {
    color: black;
    background-color: black;
    height: 2px;
}

footer form {
    text-align: center;
    margin-bottom: 0.5vh;
}

footer form input {
    max-width: 400px;
    width: 80vw;
    margin: 0.2vh;
}

footer form textarea {
    max-width: 400px;
    width: 80vw;
    margin: 0.2vh;
} 

#sendemail {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    border-radius: 1vw;
    color: black;
    width: 10vw;
    font-size: 1.5vw;
    margin: auto;
}

footer {
    margin-bottom: 1vh;
}
